*{
    margin: 0px;
    padding: 0px;
}
.nav .header{
    height: 50px;
}

/* .nav{
    width: 100%;
    height: 50px;
} */
.nav .header .word{
    float: left;
    color: red;
    margin-left: 20px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;

}

.nav .header .btn{
    float: left;
    margin-top: 23px;
    
    
}
.nav .btn .sousuo{
    margin-left: 10px;
    background-color: #EFF1F4;
    border:  none;
    width: 180px;
    height: 25px;
    border-radius: 10.5%/100%;
}
.nav .sousuo .iconfont{
    float: left;
    margin-left: 10px;
    color: #ababab;
}
.nav .sousuo  .ss{
    float: left;
    line-height: 25px;
    color: #ababab;
    font-size: 14px;
    margin-left: 10px;
}
.nav .header .btn-right{
    margin-top: 23px;
    /* margin-bottom: 20px; */
    float: left;
}
.nav .btn-right .open{
    border: 1px solid #F86442;
    border-radius: 10px;
    margin-left:20px;
    width: 60px;
    height: 25px;

}
.btn-right .open .op{
   color: #F86442;
    line-height: 25px;
    text-align: center;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;

}
.nav .middle{
    height: 50px;
}
.middle .tab{
    display: flex;
    justify-content: space-around;
}
.middle .tab-list{
    float: left;
    /* margin-left: 18px; */
    font-size: 14px;
    color: #72727b;
    margin-top: 20px;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
    /* display: none; */
}
.red-line1,.red-line2,.red-line3{
    display: none;
}
.middle .tab-list:first-child{
    color: #40404c;
    font-size: 18px;
}
.middle .line{
   /* border: .3px solid #72727b; */
   position: absolute;
   top: 105px;
   left: 0;
    width: 100%;
    height: .7px;
    background-color: rgba(0, 0, 0, .1);
}
.middle .red-line1{
    margin-left: 18px;
    position: absolute;
    top: 103px;
    left: 0;
    height: 3px;
    width: 20px;
    background: #f06742;
    border-radius: 15px;
    
}
.middle .red-line2{
    margin-left: 18px;
    position: absolute;
    top: 103px;
    left: 72px;
    height: 3px;
    width: 20px;
    background: #f06742;
    border-radius: 15px;
    
}
.middle .red-line3{
    margin-left: 18px;
    position: absolute;
    top: 103px;
    left: 145px;
    height: 3px;
    width: 20px;
    background: #f06742;
    border-radius: 15px;
    
}
.nav .content-t{
    height: 130px;
}
.nav  .photo-f img{
    margin-top: 20px;
    margin-right: 50px;
    height: 34px;
}
.nav .photo-f img:nth-child(1){
    margin-left: 95px;
}
.nav .content .words{
    /* margin: 0; */
    height: 17px;
}
.words .wd-f,.wd-s,.wd-t{
    font-size: 12px;
    color: #666;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
.words .wd-f{
    margin-left: 95px;
}
.words .wd-s{
    margin-left: 55px;
}
.words .wd-t{
    margin-left: 59px;
}
.content .listen{
    margin: 18px 0 8px 0;
}
.listen img{
    max-width: 100%;
}
.new-content{
    padding: 15px;
}

.new .title{
    float: left;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

.new .right-words{
    float: right;
    margin-top: 4px;
    margin-right: 10px;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
    text-align: center;
    color: #72727b;
    font-size: 12px;

}
.new .right-ico{
    position: absolute;
    top: 304px;
    left: 350px;
}
.new .iconfont{
    float: right;
}
.content .ph_wo{
    height: 80px;
    margin-top: 40px;
}
/* .content .left-photo{
    display: inline-block;
} */

.content .left-photo img{
    float: left;
    border-radius: 4px;
    height: 72px;

}

.ph_wo .text{
    /* display: inline-block; */
    font-weight: normal;
    /* position: absolute;
    top: 344px;
    left: 105px; */
    color: black;
    overflow: hidden;/*省略号*/
    text-overflow:ellipsis;
    white-space: nowrap;   
    font-size: 16px;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

.right-text,.sound{
    /* box-sizing: border-box; */
    padding-left: 90px;
}
.right-text .little-text{
    font-size: 13px;
    color: #999999;
}
.sound span{
    color: #999999;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
.sound span:nth-child(2){
    margin-right: 25px;
}

.content .ph_sz{
    height: 80px;
    margin-top: 20px;
}
.content .left-psz img{
    float: left;
    border-radius: 4px;
    height: 72px;

}

.ph_sz .text1{
    font-weight: normal;
    color: black; 
    font-size: 16px;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

.right-text1,.sound_1{
    /* box-sizing: border-box; */
    padding-left: 90px;
}


.right-text1 .little-text1{
    font-size: 13px;
    color: #999999;
}
.sound_1 span{
    color: #999999;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
.sound_1 span:nth-child(2){
    margin-right: 25px;
}

.content .left-psz-1 img{
    float: left;
    border-radius: 4px;
    height: 72px;

}

.ph_sz_1 .text2{
    font-weight: normal;
    color: black; 
    font-size: 16px;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

.right-text2,.sound_2{
    /* box-sizing: border-box; */
    padding-left: 80px;
}


.right-text2 .little-text2{
    overflow: hidden;/*省略号*/
    text-overflow:ellipsis;
    white-space: nowrap; 
    font-size: 13px;
    color: #999999;
}
.sound_2 span{
    color: #999999;
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
.sound_2 span:nth-child(2){
    margin-right: 25px;
}
.active{
          /* display: block; */
          font-size: 16px;
        }
