.header-box{
    height: 50px;
    background-color: #1C1B20; ;
    display: flex;

}
.location-box{
    margin-left: 5px;
    width: 2.1rem;
    overflow: hidden;
    color: #fff;
    line-height: 50px;
    font-size: 16px;
}
.search-box{
    background-color: #EBEBE4;
    flex: 1;
    /* background-color: #fff; */
    height: 30px;
    margin-top: 9px;
    margin-right: 5px;
    border-radius: 15px;
}
.search-box  .icon-search{
    margin:4px 0 0 5px;
    color: #1C1B20;
    float: left;
}
.search-box input{
    background-color: #EBEBE4;
    width: 165px;
    height: 28px;
    outline: none;
    border: none;
    float: flet;
    margin-left: 5px;
    font-size: 14px;
}
/* 分类列表 */
.cate-box{
    display: flex;
    flex-wrap: wrap;
}
.cate-list{
    width: 20%;
    text-align: center;
    color: #333;
    font-size: 11px;
}
.cate-list img{
    width: 44px;
    height: 44px;
    margin-top: 10px;
}
/* 附近商家 */
.store-title{
    text-align: center;
    height: 0.46rem;
    margin: 0.25rem 0 0 0.1rem;
    line-height: 0.46rem;
    font-size: 17px;

}
.store-title::before,.store-title::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #666;
    vertical-align: middle;
    transform: scaleY(0.5);

}
.store-list-box{
    padding: 0 0.2rem;
}
.store-list{
    display: flex;
}
.img-box{
    width: 1.52rem;
    margin-right: 0.2rem;
}
.store-list img{
    display: block;
    width: 1.42rem;
    height: 1.14rem;
}
.info-box{
    flex: 1;
}
.info-box .title{
    font-size: 16px;
    color: #333;
}
.info-box .time{
    color:#333;
    font-size: 11px;
}
.info-box .num{
    float: left;

}
.info-box .minute{
    float: right;
}
.delivery span{
    font-family: mtsi-font;
    font-size: 11px;
    color: #333;
    line-height: 1.4;
}
.line::after{
    margin-right: 2px;
    margin-left: 2px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 8px;
    background-color: #ccc;
}